{% extends "base.html.j2" %}
{% block content %}

<h1>Hello, {{ current_user.first_name }}!</h1>

{% if info %}
<div class="catch "><button class="btn btn-warning collection-button" type="submit"><a class="nav-link catchcollection" href="{{url_for('collection')}}">MY COLLECTION</a></button></div>
{% endif %}
<form class="center" action="{{url_for('index')}}" method="POST">
    {{form.hidden_tag()}}
    <div class="mb-3">
        {{form.name.label(class="form-label")}}
        {{form.name(class="form-control")}}
        <div>
            {% for error in form.name.errors%}
            <small style="color:red">{{error}}</small>
            {% endfor %}
        </div>
    </div>
    
    <div class="catch">
        {{form.submit(class="btn btn-danger")}}<br>
         <div class="error"><strong><small style="color:red">{{error}}</strong></small></div>
    </div>  
</form> 

{% if info %}
<div class="pokemon-stats">
<table class="table-borderless">
    <colgroup span="2"></colgroup>
    <thead>
        <tr>
            <th colspan="2" scope="colgroup" class="thname"> 
        {{info[0]['name'].upper()}}
            </th>
            <th style="text-align: center;"> 
                <img class="img-pokemon" src="{{info[0]['gif']}}" width="30">
            </th>
        </tr>
        
        <tr>
            <th rowspan="5" scope="rowgroup">
                <div>
                    <img class="img-pokemon" src="{{info[0]['image']}}" width="200">
                </div>
            </th>
        </tr>

        <tr>
            <th scope="row">Ability</th>
                <td>
                    {{info[0]['ability'].upper()}}
                </td>
        </tr>

        <tr>
            <th scope="row">Defense</th>
                <td>
                    {{info[0]['defense']}}
                    <img class="stats-icon" src="https://res.cloudinary.com/dulasau/image/upload/v1659485587/security_ed7uvc.png">
                </td>
        </tr>

        <tr>
            <th scope="row">Attack</th>
                <td>
                {{info[0]['attack']}}
                <img class="stats-icon" src="https://res.cloudinary.com/dulasau/image/upload/v1659486213/sword_e5cibf.png">
                </td>
        </tr>

        <tr>
            <th scope="row">HP</th>
                <td>
                {{info[0]['hp']}}
                <img class="stats-icon" src="https://res.cloudinary.com/dulasau/image/upload/v1659583844/heart_obpb3l.png">
                </td>
        </tr>

    </thead>
</table>


     
    <button type="submit" class="ball-catch">
    <a  href="{{url_for('catch', name=pokemon_data.name)}}">

    <img class="pokeball-catch image" src="https://res.cloudinary.com/dulasau/image/upload/v1659576740/800px-Pokebola-pokeball-png-0_a7hjeg.png" width="100">
        
    </a>


    
{% endif %}

{% endblock %} 

